@model IEnumerable<FarmerCentralsWebApp.Models.ProductInfo>


@{
    ViewBag.Title = "Product Info";
}
<style>
    body {
        background-image: url('/Images/benjamin-davies-Zm2n2O7Fph4-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<style>
    table {
        background-color:white;
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    .filter-section {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }

        .filter-section label {
            margin-right: 10px;
        }

        .filter-section input[type="date"] {
            padding: 6px 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
        }

        .filter-section .filter-button {
            padding: 6px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .filter-section .filter-button.green-button {
                background-color: cornflowerblue;
                color: white;
            }

            .filter-section .filter-button.orange-button {
                background-color: #FFA500;
                color: white;
            }

            .filter-section .filter-button:first-child {
                margin-right: 10px;
            }
</style>

<h2 style="color:white">Product Info</h2>

<div class="filter-section">
    <label style="color:white" for="startDateInput">Start Date:</label>
    <input style="color:black" type="date" id="startDateInput" />
    <label style="color:white" for="endDateInput">End Date:</label>
    <input style="color:black" type="date" id="endDateInput" />
    <button class="filter-button green-button" onclick="filterTable()">Filter</button>
    <button class="filter-button orange-button" onclick="resetFilter()">Reset</button>
</div>

<p>
    @Html.ActionLink("Add New Product", "Product")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Farmer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Type_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Best_Before_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Received)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Sold)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Farmer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Type_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Best_Before_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Received)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Sold)
            </td>
            
        </tr>
    }

</table>

<script>
    function filterTable() {
        var startDateInput = document.getElementById("startDateInput");
        var endDateInput = document.getElementById("endDateInput");

        var startDate = new Date(startDateInput.value);
        var endDate = new Date(endDateInput.value);

        var table = document.getElementsByTagName("table")[0];
        var rows = table.getElementsByTagName("tr");

        for (var i = 1; i < rows.length; i++) {
            var dateReceivedCell = rows[i].getElementsByTagName("td")[6]; // Index of the Date_Received column
            var dateReceived = new Date(dateReceivedCell.innerHTML);

            if (dateReceived < startDate || dateReceived > endDate) {
                rows[i].style.display = "none";
            } else {
                rows[i].style.display = "";
            }
        }
    }

    function resetFilter() {
        var startDateInput = document.getElementById("startDateInput");
        var endDateInput = document.getElementById("endDateInput");

        startDateInput.value = "";
        endDateInput.value = "";

        var table = document.getElementsByTagName("table")[0];
        var rows = table.getElementsByTagName("tr");

        for (var i = 1; i < rows.length; i++) {
            rows[i].style.display = "";
        }
    }
</script>

<p>
    @Html.ActionLink("Add Product Type Details ", "ProductType")
</p>
@*@{
        ViewBag.Title = "ProductInfo";
    }

    <h2>ProductInfo</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Farmer_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_Type_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Best_Before_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Received)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Sold)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Farmer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Type_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Best_Before_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Received)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Sold)
            </td>

        </tr>
    }

    </table>*@
